# **Web Scraping**

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="https://bso/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Beautiful Soup Object</a>
            <ul>
                <li>Tag</li>
                <li>Children, Parents, and Siblings</li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
    <ul>
        <li>
            <a href="https://filter/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Filter</a>
            <ul>
                <li>find All</li>
                <li>find </li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
     <ul>
        <li>
            <a href="https://dscw/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Downloading And Scraping The Contents Of A Web</a>
    </li>
         </ul>

</div>

<hr>

For this, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your environment. Others may need to be installed by you. The cells below will install these libraries when executed.

In [113]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
!pip install requests==2.26.0

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/r/noarch            [<=>                 ] (00m:00s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [<=>                 ] (00m:00s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 748 KB / ?? (2.39 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 748 KB / ?? (2.39 MB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 748 KB / ?? (2.39 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Finalizing...
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Done
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/main/noarch         [====================] (00m:00s) Done
pkgs/r/noarch            [=>                ] (00m:00s) 712 KB / ?? (2.31 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s) Finalizing...
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/r/noarch            [====================] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 648 KB / ?? (2.08 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.56 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.56 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 728 KB / ?? (2.33 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.56 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) 1 MB / ?? (2.87 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.56 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Finalizing...
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.56 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Done
pkgs/r/linux-64          [====================] (00m:00s) Done
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (2.56 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 1 MB / ?? (2.56 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.34 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (3.34 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 3 MB / ?? (3.65 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 3 MB / ?? (3.65 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 4 MB / ?? (3.85 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (3.85 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (4.00 MB/s)
pkgs/main/linux-64       [      <=>           ] (00m:00s) 4 MB / ?? (4.00 MB/s)
pkgs/main/linux-64       [      <=>           ] (00m:00s) 5 MB / ?? (4.11 MB/s)
pkgs/main/linux-64       [      <=>           ] (00m:01s) Finalizing...
pkgs/main/linux-64       [      <=>           ] (00m:01s) Done
pkgs/main/linux-64       [====================] (00m:01s) Done

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - bs4==4.10.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build           Channel                  Size
────────────────────────────────────────────────────────────────────────────────
  Install:
────────────────────────────────────────────────────────────────────────────────

  + bs4                  4.10.0  hd3eb1b0_0      pkgs/main/noarch        10 KB

  Upgrade:
────────────────────────────────────────────────────────────────────────────────

  - ca-certificates   2022.9.24  ha878542_0      installed
  + ca-certificates  2023.01.10  h06a4308_0      pkgs/main/linux-64     120 KB
  - certifi           2022.9.24  pyhd8ed1ab_0    installed
  + certifi           2022.12.7  py37h06a4308_0  pkgs/main/linux-64     150 KB
  - openssl              1.1.1s  h0b41bf4_1      installed
  + openssl              1.1.1t  h7f8727e_0      pkgs/main/linux-64       4 MB

  Downgrade:
────────────────────────────────────────────────────────────────────────────────

  - beautifulsoup4       4.11.1  pyha770c72_0    installed
  + beautifulsoup4       4.10.0  pyh06a4308_0    pkgs/main/noarch        85 KB

  Summary:

  Install: 1 packages
  Upgrade: 3 packages
  Downgrade: 1 packages

  Total download: 4 MB

────────────────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)   58.18 KB/s
Extracting   [>                                                      ] (--:--)
Finished bs4                                  (00m:00s)              10 KB     58 KB/s
Downloading  [>                                        ] (00m:00s)   58.18 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   58.18 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   58.18 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  543.29 KB/s
Extracting   [>                                                      ] (--:--)
Finished beautifulsoup4                       (00m:00s)              85 KB    484 KB/s
Downloading  [>                                        ] (00m:00s)  543.29 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  543.29 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [==>                                      ] (00m:00s)    1.16 MB/s
Extracting   [>                                                      ] (--:--)
Finished ca-certificates                      (00m:00s)             120 KB    666 KB/s
Downloading  [==>                                      ] (00m:00s)    1.16 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [==>                                      ] (00m:00s)    1.16 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [==>                                      ] (00m:00s)    1.16 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [==>                                      ] (00m:00s)    1.16 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    1.95 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished certifi                              (00m:00s)             150 KB    826 KB/s
Downloading  [===>                                     ] (00m:00s)    1.95 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    1.95 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Finished openssl                              (00m:00s)               4 MB     18 MB/s
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   18.52 MB/s
Extracting   [=========================================] (00m:00s)        5 / 5
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting lxml==4.6.4
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 41.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.9.1
    Uninstalling lxml-4.9.1:
      Successfully uninstalled lxml-4.9.1
Successfully installed lxml-4.6.4

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['html5lib==1.1']

pkgs/main/linux-64       Using cache
pkgs/main/noarch         Using cache
pkgs/r/linux-64          Using cache
pkgs/r/noarch            Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - html5lib==1.1
   - ca-certificates
   - certifi
   - openssl


  Package         Version  Build         Channel                 Size
───────────────────────────────────────────────────────────────────────
  Install:
───────────────────────────────────────────────────────────────────────

  + html5lib          1.1  pyhd3eb1b0_0  pkgs/main/noarch       91 KB
  + webencodings    0.5.1  py37_1        pkgs/main/linux-64     19 KB

  Summary:

  Install: 2 packages

  Total download: 110 KB

───────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)    3.45 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)    3.45 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=================================>       ] (00m:00s)  593.61 KB/s
Extracting   [>                                                      ] (--:--)
Finished html5lib                             (00m:00s)              91 KB    591 KB/s
Downloading  [=================================>       ] (00m:00s)  593.61 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=================================>       ] (00m:00s)  593.61 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=================================>       ] (00m:00s)  593.61 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=========================================] (00m:00s)  646.57 KB/s
Extracting   [>                                                      ] (--:--)
Finished webencodings                         (00m:00s)              19 KB    112 KB/s
Downloading  [=========================================] (00m:00s)  646.57 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=========================================] (00m:00s)  646.57 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=========================================] (00m:00s)  646.57 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  646.57 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  646.57 KB/s
Extracting   [=========================================] (00m:00s)        2 / 2
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting requests==2.26.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.3/62.3 kB 5.4 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests==2.26.0) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests==2.26.0) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests==2.26.0) (3.4)
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Installing collected packages: charset-normalizer, requests
  Attempting uninstall: charset-normalizer
    Found existing installation: charset-normalizer 2.1.1
    Uninstalling charset-normalizer-2.1.1:
      Successfully uninstalled charset-normalizer-2.1.1
  Attempting uninstall: requests
    Found existing installation: requests 2.28.1
    Uninstalling requests-2.28.1:
      Successfully uninstalled requests-2.28.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ibm-cos-sdk-core 2.12.0 requires requests<3.0,>=2.27.1, but you have requests 2.26.0 which is incompatible.
Successfully installed charset-normalizer-2.0.12 requests-2.26.0

Import the required modules and functions

In [120]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import html5lib
import requests  # this module helps us to download a web page

<h2 id="BSO">Beautiful Soup Objects</h2>

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML.  We can navigate the HTML as a tree and/or filter out what we are looking for.

Consider the following HTML:

In [3]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

We can store it as a string in the variable HTML:

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

To parse a document, pass it into the <code>BeautifulSoup</code> constructor, the <code>BeautifulSoup</code> object, which represents the document as a nested data structure:

In [6]:
soup = BeautifulSoup(html, "html.parser")
soup

<!DOCTYPE html>
<html><head><title>Page Title</title></head><body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>

First, the document is converted to Unicode, (similar to ASCII),  and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The <code>BeautifulSoup</code> object can create other types of objects. In this , we will cover <code>BeautifulSoup</code> and <code>Tag</code> objects that for the purposes of this are identical, and <code>NavigableString</code> objects.

We can use the method <code>prettify()</code> to display the HTML in the nested structure:

In [7]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

## Tags

Let's say we want the  title of the page and the name of the top paid player we can use the <code>Tag</code>. The <code>Tag</code> object corresponds to an HTML tag in the original document, for example, the tag title.

In [8]:
tag_object = soup.title
print("tag object:", tag_object)

tag object: <title>Page Title</title>

we can see the tag type <code>bs4.element.Tag</code>

In [9]:
print("tag object type:", type(tag_object))

tag object type: <class 'bs4.element.Tag'>

If there is more than one <code>Tag</code>  with the same name, the first element with that <code>Tag</code> name is called, this corresponds to the most paid player:

In [10]:
tag_object = soup.h3
tag_object

Enclosed in the bold attribute <code>b</code>, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.

### Children, Parents, and Siblings

As stated above the <code>Tag</code> object is a tree of objects we can access the child of the tag or navigate down the branch as follows:

In [11]:
tag_child = tag_object.b
tag_child

You can access the parent with the <code> parent</code>

In [12]:
parent_tag = tag_child.parent
parent_tag

this is identical to

In [13]:
tag_object

<code>tag_object</code> parent is the <code>body</code> element.

In [14]:
tag_object.parent

<code>tag_object</code> sibling is the <code>paragraph</code> element

In [15]:
sibling_1 = tag_object.next_sibling
sibling_1

`sibling_2` is the `header` element which is also a sibling of both `sibling_1` and `tag_object`

In [16]:
sibling_2 = sibling_1.next_sibling
sibling_2

<h3 id="first_question">Exercise: <code>next_sibling</code></h3>

Using the object <code>sibling\_2</code> and the property <code>next_sibling</code> to find the salary of Stephen Curry:

In [17]:
sibling_3 = sibling_2.next_sibling
sibling_3

<details><summary>Click here for the solution</summary>

```
sibling_2.next_sibling

```

</details>

### HTML Attributes

If the tag has attributes, the tag <code>id="boldest"</code> has an attribute <code>id</code> whose value is <code>boldest</code>. You can access a tag’s attributes by treating the tag like a dictionary:

In [20]:
tag_child['id']

'boldest'

You can access that dictionary directly as <code>attrs</code>:

In [21]:
tag_child.attrs

{'id': 'boldest'}

You can also work with Multi-valued attribute check out <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">\[1]</a> for more.

We can also obtain the content if the attribute of the <code>tag</code> using the Python <code>get()</code> method.

In [22]:
tag_child.get('id')

'boldest'

### Navigable String

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the <code>NavigableString</code> class to contain this text. In our HTML we can obtain the name of the first player by extracting the sting of the <code>Tag</code> object <code>tag_child</code> as follows:

In [23]:
tag_string = tag_child.string
tag_string

'Lebron James'

we can verify the type is Navigable String

In [24]:
type(tag_string)

bs4.element.NavigableString

A NavigableString is just like a Python string or Unicode string, to be more precise. The main difference is that it also supports some  <code>BeautifulSoup</code> features. We can covert it to sting object in Python:

In [25]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

<h2 id="filter">Filter</h2>

Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string.  Consider the following HTML of rocket launchs:

In [26]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

We can store it as a string in the variable <code>table</code>:

In [27]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [30]:
table_bs = BeautifulSoup(table, "html.parser")
table_bs

<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>

## find All

The <code>find_all()</code> method looks through a tag’s descendants and retrieves all descendants that match your filters.

<p>
The Method signature for <code>find_all(name, attrs, recursive, string, limit, **kwargs)<c/ode>
</p>

### Name

When we set the <code>name</code> parameter to a tag name, the method will extract all the tags with that name and its children.

In [33]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

The result is a Python Iterable just like a list, each element is a <code>tag</code> object:

In [34]:
first_row =table_rows[0]
first_row

The type is <code>tag</code>

In [35]:
print(type(first_row))

<class 'bs4.element.Tag'>

we can obtain the child

In [36]:
first_row.td

If we iterate through the list, each element corresponds to a row in the table:

In [41]:
for i, row in enumerate(table_rows):
    print(f"row: {i}, is {row}")
    # cells = row.find_all('td')
    # print(cells)

row: 0, is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
[<td id="flight">Flight No</td>, <td>Launch site</td>, <td>Payload mass</td>]
row: 1, is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
[<td>1</td>, <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>, <td>300 kg</td>]
row: 2, is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
[<td>2</td>, <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>, <td>94 kg</td>]
row: 3, is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>
[<td>3</td>, <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>, <td>80 kg</td>]

As <code>row</code> is a <code>cell</code> object, we can apply the method <code>find_all</code> to it and extract table cells in the object <code>cells</code> using the tag <code>td</code>, this is all the children with the name <code>td</code>. The result is a list, each element corresponds to a cell and is a <code>Tag</code> object, we can iterate through this list as well. We can extract the content using the <code>string</code>  attribute.

In [43]:
for i,row in enumerate(table_rows):
    print(f"row {i}")
    cells = row.find_all('td')
    for j, cell in enumerate(cells):
        print(f"column {j} cell: {cell}")

row 0
column 0 cell: <td id="flight">Flight No</td>
column 1 cell: <td>Launch site</td>
column 2 cell: <td>Payload mass</td>
row 1
column 0 cell: <td>1</td>
column 1 cell: <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
column 2 cell: <td>300 kg</td>
row 2
column 0 cell: <td>2</td>
column 1 cell: <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell: <td>94 kg</td>
row 3
column 0 cell: <td>3</td>
column 1 cell: <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
column 2 cell: <td>80 kg</td>

If we use a list we can match against any item in that list.

In [44]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

## Attributes

If the argument is not recognized it will be turned into a filter on the tag’s attributes. For example the <code>id</code>  argument, Beautiful Soup will filter against each tag’s <code>id</code> attribute. For example, the first <code>td</code> elements have a value of <code>id</code> of <code>flight</code>, therefore we can filter based on that <code>id</code> value.

In [45]:
table_bs.find_all(id="flight")

We can find all the elements that have links to the Florida Wikipedia page:

In [46]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

If we set the  <code>href</code> attribute to True, regardless of what the value is, the code finds all tags with <code>href</code> value:

In [47]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

There are other methods for dealing with attributes and other related methods; Check out the following <a href='https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01#css-selectors'>link</a>

<h3 id="exer_type">Exercise: <code>find_all</code></h3>

Using the logic above, find all the elements without <code>href</code> value

In [48]:
table_bs.find_all(href = False)

[<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <a> </a>,
 <td>80 kg</td>]

<details><summary>Click here for the solution</summary>

```
table_bs.find_all(href=False)

```

</details>

Using the soup object <code>soup</code>, find the element with the <code>id</code> attribute content set to <code>"boldest"</code>.

In [50]:
soup.find_all(id == 'boldest')

[<html><head><title>Page Title</title></head><body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>,
 <head><title>Page Title</title></head>,
 <title>Page Title</title>,
 <body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body>,
 <h3><b id="boldest">Lebron James</b></h3>,
 <b id="boldest">Lebron James</b>,
 <p> Salary: $ 92,000,000 </p>,
 <h3> Stephen Curry</h3>,
 <p> Salary: $85,000, 000 </p>,
 <h3> Kevin Durant </h3>,
 <p> Salary: $73,200, 000</p>]

<details><summary>Click here for the solution</summary>

```
soup.find_all(id="boldest")

```

</details>

### string

With string you can search for strings instead of tags, where we find all the elments with Florida:

In [51]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

## find

The <code>find_all()</code> method scans the entire document looking for results, it’s if you are looking for one element you can use the <code>find()</code> method to find the first element in the document. Consider the following two table:

In [52]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

We store the HTML as a Python string and assign <code>two_tables</code>:

In [54]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

We create a <code>BeautifulSoup</code> object  <code>two_tables_bs</code>

In [55]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

We can find the first table using the tag name table

In [56]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore.

In [57]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

<h2 id="DSCW">Downloading And Scraping The Contents Of A Web Page</h2>

We Download the contents of the web page:

In [59]:
url = "http://www.ibm.com"

We use <code>get</code> to download the contents of the webpage in text format and store in a variable called <code>data</code>:

In [60]:
data  = requests.get(url).text  # getting body as text

We create a <code>BeautifulSoup</code> object using the <code>BeautifulSoup</code> constructor

In [66]:
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'
# soup.find_all('a', href = True )

Scrape all links

In [64]:
# scrapping all the links
for link in soup.find_all('a', href= True):
    print(link.get('href'))

https://www.ibm.com/products/turbonomic
https://www.ibm.com/products/api-connect
https://www.ibm.com/resources/automation-innovation-workshop
https://www.ibm.com/automation
https://www.ibm.com/downloads/cas/RZQKRMKO
#
#
#
#
#
https://www.ibm.com/employment/?lnk=flatitem
https://www.ibm.com/impact
https://research.ibm.com/
https://www.ibm.com/consulting/?lnk=flathl
https://www.ibm.com/consulting/strategy/?lnk=flathl
https://www.ibm.com/consulting/ibmix?lnk=flathl
https://www.ibm.com/consulting/technology/
https://www.ibm.com/consulting/operations/?lnk=flathl
https://www.ibm.com/strategic-partnerships
https://www.ibm.com/products/instana
https://www.ibm.com/products/turbonomic
https://www.ibm.com/automation
https://www.ibm.com/products/envizi
https://www.ibm.com/products/maximo
https://www.ibm.com/sustainability
https://www.ibm.com/cloud/campaign/cloud-simplicity
https://www.ibm.com/cloud/campaign/cloud-simplicity
http://ibm.com/consulting/ibmix
https://www.ibm.com/consulting
https://www.ibm.com/sports/masters
https://www.ibm.com/cloud/watson-knowledge-catalog
https://www.ibm.com/data-management
https://www.ibm.com/data-fabric
https://www.ibm.com/

## Scrape  all images  Tags

In [67]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="Flat illustration for Threat Intelligence Index representing an attack surface threat and response" class="bx--image__img" src="https://1.dam.s81c.com/p/0b526ddf40c413f5/security-leadspace-desktop.jpg.global.mr_5x4.jpg"/>
https://1.dam.s81c.com/p/0b526ddf40c413f5/security-leadspace-desktop.jpg.global.mr_5x4.jpg
<img alt="Workers in a tap room" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0b52088cc24c2f3d/CS-The-Automate-Beer-Question-30_ProRes_frame-13-22.png.global.sr_5x4.png"/>
https://1.dam.s81c.com/p/0b52088cc24c2f3d/CS-The-Automate-Beer-Question-30_ProRes_frame-13-22.png.global.sr_5x4.png
<img alt="View of the sky between skyscrapers" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0b526ddf40c4140c/CS_The_Sustainability_Building_Question_30_ProRes-frame-07-00.png.global.sr_5x4.png"/>
https://1.dam.s81c.com/p/0b526ddf40c4140c/CS_The_Sustainability_Building_Question_30_ProRes-frame-07-00.png.global.sr_5x4.png
<img alt="Person working in office behind computer screen" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0b52088cc24c2f41/CS_The_Modernize_Banking_Question_V1_30_ProRes_frame-00-06.png.global.sr_5x4.png"/>
https://1.dam.s81c.com/p/0b52088cc24c2f41/CS_The_Modernize_Banking_Question_V1_30_ProRes_frame-00-06.png.global.sr_5x4.png
<img alt="Aerial view of the Masters golf course with the leader-board" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0b52088cc24c2f37/CS_the_transform_masters_question_30_prores_frame00.png.global.mr_5x4.jpg"/>
https://1.dam.s81c.com/p/0b52088cc24c2f37/CS_the_transform_masters_question_30_prores_frame00.png.global.mr_5x4.jpg
<img alt="Person sitting behind a desk in an office" class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0b52088cc24c2f35/CS_The_Modernize_Banking_Question_V1_30_ProRes-frame-04-30.png.global.sr_5x4.png"/>
https://1.dam.s81c.com/p/0b52088cc24c2f35/CS_The_Modernize_Banking_Question_V1_30_ProRes-frame-04-30.png.global.sr_5x4.png
<img alt="Grid of diverse group of professionals" aria-describedby="bx--image-7" class="bx--image__img" src="https://1.dam.s81c.com/p/0aac9cf57bcbf324/dotcom-1-overview.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/0aac9cf57bcbf324/dotcom-1-overview.jpg.global.sr_16x9.jpg
<img alt="professional pointing to a chart" aria-describedby="bx--image-8" class="bx--image__img" src="https://1.dam.s81c.com/p/0aac9cf57c4bf381/0935e0d55846b9ec_dotcom-2-strategy.jpg.global.m_16x9.jpg"/>
https://1.dam.s81c.com/p/0aac9cf57c4bf381/0935e0d55846b9ec_dotcom-2-strategy.jpg.global.m_16x9.jpg
<img alt="two professionals working with a whiteboard outdoors" aria-describedby="bx--image-9" class="bx--image__img" src="https://1.dam.s81c.com/p/0aac9cf57c4bf382/0656655b47a3af8b_dotcom-3-experience.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/0aac9cf57c4bf382/0656655b47a3af8b_dotcom-3-experience.jpg.global.sr_16x9.jpg
<img alt="professionals working with a sticky notes on a whiteboard" aria-describedby="bx--image-10" class="bx--image__img" src="https://1.dam.s81c.com/p/0aac9cf57c4bf383/08f9513598a70746_dotcom-4-technology.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/0aac9cf57c4bf383/08f9513598a70746_dotcom-4-technology.jpg.global.sr_16x9.jpg
<img alt="professionals having a conversation in an office" aria-describedby="bx--image-11" class="bx--image__img" src="https://1.dam.s81c.com/p/0aac9cf57c4bf380/0935e0d55846b9e4_dotcom-5-operations.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/0aac9cf57c4bf380/0935e0d55846b9e4_dotcom-5-operations.jpg.global.sr_16x9.jpg
<img alt="group of professionals walking down stairs outdoors" aria-describedby="bx--image-12" class="bx--image__img" src="https://1.dam.s81c.com/p/0aac9cf57c4bf384/064e0139f5a3aa3f_dotcom-6-partners.jpg.global.sr_16x9.jpg"/>
https://1.dam.s81c.com/p/0aac9cf57c4bf384/064e0139f5a3aa3f_dotcom-6-partners.jpg.global.sr_16x9.jpg

## Scrape data from HTML tables

In [68]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check how many rows and columns are there in the color table.

In [71]:
# get the contents of the webpage in text format and store in a variable called data
data = requests.get(url).text

In [73]:
# soup = BeautifulSoup(data,"html.parser")

soup = BeautifulSoup(data, 'html.parser')

In [ ]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

<table border="1" class="main-table">
<tr>
<td>Number </td>
<td>Color</td>
<td>Color Name</td>
<td>Hex Code<br/>#RRGGBB</td>
<td>Decimal Code<br/>(R,G,B)</td>
</tr>
<tr>
<td>1</td>
<td style="background:lightsalmon;"> </td>
<td>lightsalmon</td>
<td>#FFA07A</td>
<td>rgb(255,160,122)</td>
</tr>
<tr>
<td>2</td>
<td style="background:salmon;"> </td>
<td>salmon</td>
<td>#FA8072</td>
<td>rgb(250,128,114)</td>
</tr>
<tr>
<td>3</td>
<td style="background:darksalmon;"> </td>
<td>darksalmon</td>
<td>#E9967A</td>
<td>rgb(233,150,122)</td>
</tr>
<tr>
<td>4</td>
<td style="background:lightcoral;"> </td>
<td>lightcoral</td>
<td>#F08080</td>
<td>rgb(240,128,128)</td>
</tr>
<tr>
<td>5</td>
<td style="background:coral;"> </td>
<td>coral</td>
<td>#FF7F50</td>
<td>rgb(255,127,80)</td>
</tr>
<tr>
<td>6</td>
<td style="background:tomato;"> </td>
<td>tomato</td>
<td>#FF6347</td>
<td>rgb(255,99,71)</td>
</tr>
<tr>
<td>7</td>
<td style="background:orangered;"> </td>
<td>orangered</td>
<td>#FF4500</td>
<td>rgb(255,69,0)</td>
</tr>
<tr>
<td>8</td>
<td style="background:gold;"> </td>
<td>gold</td>
<td>#FFD700</td>
<td>rgb(255,215,0)</td>
</tr>
<tr>
<td>9</td>
<td style="background:orange;"> </td>
<td>orange</td>
<td>#FFA500</td>
<td>rgb(255,165,0)</td>
</tr>
<tr>
<td>10</td>
<td style="background:darkorange;"> </td>
<td>darkorange</td>
<td>#FF8C00</td>
<td>rgb(255,140,0)</td>
</tr>
<tr>
<td>11</td>
<td style="background:lightyellow;"> </td>
<td>lightyellow</td>
<td>#FFFFE0</td>
<td>rgb(255,255,224)</td>
</tr>
<tr>
<td>12</td>
<td style="background:lemonchiffon;"> </td>
<td>lemonchiffon</td>
<td>#FFFACD</td>
<td>rgb(255,250,205)</td>
</tr>
<tr>
<td>13</td>
<td style="background:papayawhip;"> </td>
<td>papayawhip</td>
<td>#FFEFD5</td>
<td>rgb(255,239,213)</td>
</tr>
<tr>
<td>14</td>
<td style="background:moccasin;"> </td>
<td>moccasin</td>
<td>#FFE4B5</td>
<td>rgb(255,228,181)</td>
</tr>
<tr>
<td>15</td>
<td style="background:peachpuff;"> </td>
<td>peachpuff</td>
<td>#FFDAB9</td>
<td>rgb(255,218,185)</td>
</tr>
<tr>
<td>16</td>
<td style="background:palegoldenrod;"> </td>
<td>palegoldenrod</td>
<td>#EEE8AA</td>
<td>rgb(238,232,170)</td>
</tr>
<tr>
<td>17</td>
<td style="background:khaki;"> </td>
<td>khaki</td>
<td>#F0E68C</td>
<td>rgb(240,230,140)</td>
</tr>
<tr>
<td>18</td>
<td style="background:darkkhaki;"> </td>
<td>darkkhaki</td>
<td>#BDB76B</td>
<td>rgb(189,183,107)</td>
</tr>
<tr>
<td>19</td>
<td style="background:yellow;"> </td>
<td>yellow</td>
<td>#FFFF00</td>
<td>rgb(255,255,0)</td>
</tr>
<tr>
<td>20</td>
<td style="background:lawngreen;"> </td>
<td>lawngreen</td>
<td>#7CFC00</td>
<td>rgb(124,252,0)</td>
</tr>
<tr>
<td>21</td>
<td style="background:chartreuse;"> </td>
<td>chartreuse</td>
<td>#7FFF00</td>
<td>rgb(127,255,0)</td>
</tr>
<tr>
<td>22</td>
<td style="background:limegreen;"> </td>
<td>limegreen</td>
<td>#32CD32</td>
<td>rgb(50,205,50)</td>
</tr>
<tr>
<td>23</td>
<td style="background:lime;"> </td>
<td>lime</td>
<td>#00FF00</td>
<td>rgb(0.255.0)</td>
</tr>
<tr>
<td>24</td>
<td style="background:forestgreen;"> </td>
<td>forestgreen</td>
<td>#228B22</td>
<td>rgb(34,139,34)</td>
</tr>
<tr>
<td>25</td>
<td style="background:green;"> </td>
<td>green</td>
<td>#008000</td>
<td>rgb(0,128,0)</td>
</tr>
<tr>
<td>26</td>
<td style="background:powderblue;"> </td>
<td>powderblue</td>
<td>#B0E0E6</td>
<td>rgb(176,224,230)</td>
</tr>
<tr>
<td>27</td>
<td style="background:lightblue;"> </td>
<td>lightblue</td>
<td>#ADD8E6</td>
<td>rgb(173,216,230)</td>
</tr>
<tr>
<td>28</td>
<td style="background:lightskyblue;"> </td>
<td>lightskyblue</td>
<td>#87CEFA</td>
<td>rgb(135,206,250)</td>
</tr>
<tr>
<td>29</td>
<td style="background:skyblue;"> </td>
<td>skyblue</td>
<td>#87CEEB</td>
<td>rgb(135,206,235)</td>
</tr>
<tr>
<td>30</td>
<td style="background:deepskyblue;"> </td>
<td>deepskyblue</td>
<td>#00BFFF</td>
<td>rgb(0,191,255)</td>
</tr>
<tr>
<td>31</td>
<td style="background:lightsteelblue;"> </td>
<td>lightsteelblue</td>
<td>#B0C4DE</td>
<td>rgb(176,196,222)</td>
</tr>
<tr>
<td>32</td>
<td style="background:dodgerblue;"> </td>
<td>dodgerblue</td>
<td>#1E90FF</td>
<td>rgb(30,144,255)</td>
</tr>
</table>

In [82]:
#Get all rows from the table
for row in table.find_all('tr'):
    # get cols
    cols = row.find_all('td')
    col_name = cols[2].string
    col_code = cols[3].string
    print("{} ----> {}".format(col_name, col_code))

Color Name ----> None
lightsalmon ----> #FFA07A
salmon ----> #FA8072
darksalmon ----> #E9967A
lightcoral ----> #F08080
coral ----> #FF7F50
tomato ----> #FF6347
orangered ----> #FF4500
gold ----> #FFD700
orange ----> #FFA500
darkorange ----> #FF8C00
lightyellow ----> #FFFFE0
lemonchiffon ----> #FFFACD
papayawhip ----> #FFEFD5
moccasin ----> #FFE4B5
peachpuff ----> #FFDAB9
palegoldenrod ----> #EEE8AA
khaki ----> #F0E68C
darkkhaki ----> #BDB76B
yellow ----> #FFFF00
lawngreen ----> #7CFC00
chartreuse ----> #7FFF00
limegreen ----> #32CD32
lime ----> #00FF00
forestgreen ----> #228B22
green ----> #008000
powderblue ----> #B0E0E6
lightblue ----> #ADD8E6
lightskyblue ----> #87CEFA
skyblue ----> #87CEEB
deepskyblue ----> #00BFFF
lightsteelblue ----> #B0C4DE
dodgerblue ----> #1E90FF

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [103]:
import requests
import pandas as pd # importing pandas
from bs4 import BeautifulSoup

In [104]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check the tables on the webpage.

In [105]:
# get the contents of the webpage in text format and store in a variable called data
data = requests.get(url).text

In [106]:
soup = BeautifulSoup(data, 'html.parser')

In [107]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>
# examine tables

In [108]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

24

Assume that we are looking for the `10 most densly populated countries` table, we can look through the tables list and find the right one we are look for based on the data in each table or we can search for the table name if it is in the table but this option might not always work.

In [109]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

4

See if you can locate the table name of the table, `10 most densly populated countries`, below.

In [110]:
tables[table_index]

<table class="wikitable sortable" style="text-align:right">
<caption>10 most densely populated countries <small>(with population above 5 million)</small><sup class="reference" id="cite_ref-:10_107-0"><a href="#cite_note-:10-107">[102]</a></sup>
</caption>
<tbody><tr>
<th scope="col">Rank
</th>
<th scope="col">Country
</th>
<th scope="col">Population
</th>
<th scope="col">Area<br/><small>(km<sup>2</sup>)</small>
</th>
<th scope="col">Density<br/><small>(pop/km<sup>2</sup>)</small>
</th></tr>
<tr>
<td>1</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/> </span><a href="/wiki/Singapore" title="Singapore">Singapore</a></td>
<td>5,921,231</td>
<td>719</td>
<td>8,235
</td></tr>
<tr>
<td>2</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/> </span><a href="/wiki/Bangladesh" title="Bangladesh">Bangladesh</a></td>
<td>165,650,475</td>
<td>148,460</td>
<td>1,116
</td></tr>
<tr>
<td>3</td>
<td align="left">
<p><span class="flagicon"><img alt="" class="thumbborder" data-file-height="216" data-file-width="432" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/> </span><a href="/wiki/State_of_Palestine" title="State of Palestine">Palestine</a><sup class="reference" id="cite_ref-108"><a href="#cite_note-108">[103]</a></sup>
</p>
</td>
<td>5,223,000</td>
<td>6,025</td>
<td>867
</td></tr>
<tr>
<td>4</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/> </span><a href="/wiki/Taiwan" title="Taiwan">Taiwan</a></td>
<td>23,580,712</td>
<td>35,980</td>
<td>655
</td></tr>
<tr>
<td>5</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/> </span><a href="/wiki/South_Korea" title="South Korea">South Korea</a></td>
<td>51,844,834</td>
<td>99,720</td>
<td>520
</td></tr>
<tr>
<td>6</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/> </span><a href="/wiki/Lebanon" title="Lebanon">Lebanon</a></td>
<td>5,296,814</td>
<td>10,400</td>
<td>509
</td></tr>
<tr>
<td>7</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/> </span><a href="/wiki/Rwanda" title="Rwanda">Rwanda</a></td>
<td>13,173,730</td>
<td>26,338</td>
<td>500
</td></tr>
<tr>
<td>8</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/> </span><a href="/wiki/Burundi" title="Burundi">Burundi</a></td>
<td>12,696,478</td>
<td>27,830</td>
<td>456
</td></tr>
<tr>
<td>9</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/> </span><a href="/wiki/India" title="India">India</a></td>
<td>1,389,637,446</td>
<td>3,287,263</td>
<td>423
</td></tr>
<tr>
<td>10</td>
<td align="left"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/> </span><a href="/wiki/Netherlands" title="Netherlands">Netherlands</a></td>
<td>17,400,824</td>
<td>41,543</td>
<td>419
</td></tr></tbody></table>

In [ ]:
# Creating dataframe from scrape data
population_data = pd.DataFrame(columns = ["Rank","Country","Population","Area","Density"]) # creating columns
for row in tables[table_index].find_all('tr'):
    # finding columns 
    col = row.find_all('td')
    if col != []:
        Rank = col[0].text
        Country = col[1].find('a')['title']
        Population = col[2].text
        Area = col[3].text
        Density = col[4].text.strip()
        population_data = population_data.append({"Rank": Rank, "Country": Country, "Population": Population, "Area": Area, "Density": Density}, ignore_index = True)
    #     if data != "":
    #         Rank = data[0]
    #         Country = data[1].string  # 0,1,2,3,4
    #         Population = data[2]
    #         Area = data[3]
    #         Density = data[4]
    # print()
population_data

  Rank             Country     Population       Area Density
0    1           Singapore      5,921,231        719   8,235
1    2          Bangladesh    165,650,475    148,460   1,116
2    3  State of Palestine      5,223,000      6,025     867
3    4              Taiwan     23,580,712     35,980     655
4    5         South Korea     51,844,834     99,720     520
5    6             Lebanon      5,296,814     10,400     509
6    7              Rwanda     13,173,730     26,338     500
7    8             Burundi     12,696,478     27,830     456
8    9               India  1,389,637,446  3,287,263     423
9   10         Netherlands     17,400,824     41,543     419

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

Using the same `url`, `data`, `soup`, and `tables` object as in the last section we can use the `read_html` function to create a DataFrame.

Remember the table we need is located in `tables[table_index]`

We can now use the `pandas` function `read_html` and give it the string version of the table as well as the `flavor` which is the parsing engine `bs4`.

In [119]:
pd.read_html(str(tables[5]), flavor='bs4')

ImportError: html5lib not found, please install it

The function `read_html` always returns a list of DataFrames so we must pick the one we want out of the list.

In [115]:
!pip install html5lib

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (1.16.0)

In [60]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171670000     143998              1192
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17660000      41526               425
9    10       Israel     9430000      22072               427

## Scrape data from HTML tables into a DataFrame using read_html

We can also use the `read_html` function to directly get DataFrames from a `url`.

In [61]:
dataframe_list = pd.read_html(url, flavor='bs4')

We can see there are 25 DataFrames just like when we used `find_all` on the `soup` object.

In [62]:
len(dataframe_list)

26

Finally we can pick the DataFrame we need out of the list.

In [63]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171670000     143998              1192
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17660000      41526               425
9    10       Israel     9430000      22072               427

We can also use the `match` parameter to select the specific table we want. If the table contains a string matching the text it will be read.

In [64]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171670000     143998              1192
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17660000      41526               425
9    10       Israel     9430000      22072               427